body {
    text-align: center;
    /* border: 2px solid; */
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgb(231, 216, 200);
}

div {
    margin-top: 40px;
    background-color: rgb(240, 195, 240);
    /* top: 50%; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid;
    width: 50%;
    /* position: relative; */
    height: 15em;
    justify-content: space-around;
}

input {
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    gap: 20px;
    width:50%;
    margin-top: 22px;
    justify-content: space-around;
    /* position: relative; */
    /* text-align: center; */

}
.btn{
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(135, 166, 173);
    border-style: hidden;
    border-radius: 3px;
    font-weight: 100;
    font-style: italic;
}
button a{
    text-decoration: none;
}