.sec2 {
    margin-top: 10px;

}

.img1 {
    float: left;
}

.text1 {
    float: right;
    border: 2px solid;
    width: 34em;
    border-style: hidden;
    position: relative;
    top:64px;
    right: 1%;
}

.learn {
    position: relative;
    top: 84px;
    left: 180px;
    padding: 7px;
    border-radius: 4px;
    border-color: aliceblue;
    background-color: pink;
    padding: 9px;
}

.sec3 {
    margin-top: 15em;
}

.img2 {
    position: relative;
    right: 1.5%;
    width: 520px;
    float: right;
    border: 2px solid;
    border-color: bisque;
    padding: 4px;
}


.text2 {
    border: 2px solid;
    float: left;
    position: relative;
    top: 94px;
    width: 34em;
    padding: 9px;
    border-style: hidden;
    /* left: 5%; */
}
.btn{
    border: 2px solid;
    padding: 2px;
    width: 256px;
}
.bbb a{
    text-decoration: none;
}